POSTGRES_USER=musicdl
POSTGRES_PASSWORD=musicdl
POSTGRES_DB=musicdl

LIBRARY_PATH=./library

ANTHROPIC_API_KEY=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

PROWLARR_URL=http://prowlarr:9696
PROWLARR_API_KEY=

NZBHYDRA_URL=http://nzbhydra:5076
NZBHYDRA_API_KEY=

QBT_URL=http://qbittorrent:8080
QBT_USER=admin
QBT_PASS=adminadmin

SAB_URL=http://sabnzbd:8080
SAB_API_KEY=
